<div class="col-md-12">
  <h1 class="heading"><a href="/examples">Back To Examples Page</a></h1>
  <br>
  <h1 class="heading">"Reflect"</h1>
  <div class="center" id="sketch-holder"></div>
  <p>The new button works, but due to the nature of the example, it takes a long time to generate. One click is enough :)</p>
  <p>This demo is based off of <a href="https://www.mattdesl.com/">Matt DesLauriers</a> work.</p>
  <p>The process of creating these images can be seen in the source code!</p>
  <p>Colors are hard coded and chosen from <a href="http://colormind.io/">this api.</a></p>
</div>
