<div id='container'>
  <div class='content row'>

    <div class="col-md-12">
      <h1 class="heading"><a href="">Back To Main Page</a></h1>
      <br>
    </div>

    <div class="col-md-12">
      <h1 class="heading">Examples</h1>
      <p>Below are some personal projects which I have done in JavaScript. Click on  the image to get be taken to a demo!</p>
      <br>
    </div>

    <div class="col-md-12">
      <h1 class="heading">Fireworks</h1>
      <a href="/examples/fireworks">
        <img src="../../assets/fireworks.png" class="responsive">
      </a>
      <br>
      <br>
      <br>
    </div>



    <div class="col-md-12">
      <h1 class="heading">Matrix Effect</h1>
      <a href="/examples/matrix">
        <img src="../../assets/matrix.png" class="responsive">
      </a>
      <br>
      <br>
      <br>
    </div>



    <div class="col-md-12">
      <h1 class="heading">Flow Field with Perlin Noise and Seperation</h1>
      <a href="/examples/flowfield">
        <img src="../../assets/flowfield.png" class="responsive">
      </a>
      <br>
      <br>
      <br>
    </div>


    <div class="col-md-12">
      <h1 class="heading">Marching Squares with Ray Casting</h1>
      <a href="/examples/marchingsquares">
        <img src="../../assets/marchingsquares.png" class="responsive">
        <img src="../../assets/marchingsquares2.png" class="responsive">
      </a>
      <br>
      <br>
      <br>
    </div>

    <div class="col-md-12">
      <h1 class="heading">Rain Drops</h1>
      <a href="/examples/raindrops">
        <img src="../../assets/raindrops.png" class="responsive">
      </a>
      <br>
      <br>
      <br>
    </div>



  </div>
</div>
