<div class="work__content">
  <div class="work__content-words">
    <h3>What I have done so far</h3>
    <h1>Work Experience.</h1>
  </div>

  <div class="line"></div>
  <div class="work__content-grid">
    <ng-container *ngFor="let job of jobs; let i = index">
      <ng-container *ngIf="i % 2 == 0; else left">
        <div data-aos="fade-right" data-aos-offset="500" ata-aos-duration="500" data-aos-anchor-placement="top-bottom" class="right">
          <app-work-card
          [value]="job"
          direction="right"></app-work-card>
        </div>
      </ng-container>
      <ng-template #left>
        <div data-aos="fade-left" data-aos-offset="500" ata-aos-duration="500" data-aos-anchor-placement="top-bottom" class="left">
          <app-work-card
          [value]="job"
          direction="left"></app-work-card>
        </div>
      </ng-template>
      <div class="grid-filler"></div>
      <div class="grid-filler"></div>
    </ng-container>
  </div>
  <div class="arrow"></div>
</div>

