<div class="work__content">
  <div class="work__content-words">
    <h3>Experience</h3>
    <h1>My Employment History.</h1>
  </div>

  <div class="work__content-grid">
    <div data-aos="fade-right" data-aos-offset="500" class="right">
      <app-work-card title="Farmboy" subtitle="Service Supervisor" body="test"></app-work-card>
    </div>
    <div></div>
    <div></div>
    <div data-aos="fade-left" data-aos-offset="500" class="left">
      <app-work-card title="FSWEP Student" subtitle="IT Student" [body]="['test', 'test']"></app-work-card>
    </div>
    <div></div>
    <div></div>
    <div data-aos="fade-right" data-aos-offset="500" class="right">
      <app-work-card title="Shared Services Canada" subtitle="IT Technician"></app-work-card>
    </div>
    <div></div>
    <div></div>
    <div data-aos="fade-left" data-aos-offset="500" class="left">
      <app-work-card title="Government of Canada" subtitle="Software Developer"></app-work-card>
    </div>
  </div>
</div>

