<div id='mainContainer'>
  <div id='splashContainer'>
    <div class="header row">
      <div class="col-md-1"></div>
      <div class="col-md-4 headshot">
          <img src="../../assets/ryan.png" class="img-responsive" id="headshot" alt="Responsive image">
      </div>
      <div class="col-md-7 name">
          <h1 class='title'>Hey, I'm Ryan.</h1>
          <div class="typing">
              <span id="typingAnimation"></span><span id="typed-cursor">|</span>
          </div>
      </div>
  </div>
  </div>



  <div id='container'>
    <div class='content row'>


      <div class="col-md-12">
        <h1 class="heading">About Me</h1>
        <p>I am a 4th year <a href="https://carleton.ca/scs/">Carleton Computer Science</a> student. I've always been interested in technology, and keeping up with the
          newest trends. I have a strong interest in IT security, cryptography, and fullstack development.</p>
        <br>
        <p>Learning is an essential part of any job. I try to learn new skills any oppurtunity I get, even if they are difficult.</p>
        <br>
        <p>In my free time I like to ride mountain bikes, and work on my car. I enjoy developing scripts to help with my day to day life when I find the chance to.
          I find that creating things from your own ideas results in the best learning experiences as you are developing from start to finish.
        </p>
        <br>
      </div>

      <div class="col-md-12">
        <h1 class="heading">Code</h1>
        <p>Samples of my code can be seen on my <a href="https://github.com/ryanabaker">GitHub</a></p>
        <p><a href="/examples">Here</a> are some interative examples using <a href="https://p5js.org/">P5JS</a> that I have written!</p>
        <br>
      </div>

      <br>

      <div class="col-md-12 resume">
        <h1 class="heading">Resume</h1>
        <a href="../../assets/Ryan Baker.pdf">
          <img src="../../assets/resume.png" class="img-responsive" id="resume" alt="Responsive image">
        </a>
        <br>
        <br>
      </div>



      <div class="col-md-12">
        <h1 class="heading">Contact</h1>

        <img src='../../assets/smartphone.png' class='tinyimg'><p>(613)-410-7926 </p>
        <img src='../../assets/mail.png' class='tinyimg'><p>ryanabaker@gmail.com</p>
        <img src='../../assets/pin.png' class='tinyimg'><p>Ottawa, ON, Canada</p>

      </div>



    </div>
  </div>
</div>
