<div class="introduction__content">
  <div class="introduction__content-words">
    <h3>Introduction</h3>
    <h1>Overview.</h1>
    <p>
      I'm a software developer living in Ottawa, Ontario, Canada with a passion for building innovative and practical solutions to real-world problems. I specialize in Typescript, Angular, Spring, and PostgreSQL, and I have experience working with a variety of other technologies as well.
    </p>
    <p>
      As a software developer, I believe that staying up-to-date with the latest technologies and trends is essential. I'm always on the lookout for new tools and techniques that can help me work more efficiently and effectively. I'm also a firm believer in collaboration and problem-solving, and I enjoy working closely with clients and colleagues to find the best solutions to complex challenges.
    </p>
    <p>
      Outside of work, I enjoy spending time with my family and mountain biking. I'm an avid fan of motorsports, and I love watching F1 races whenever I get the chance.
    </p>
  </div>
  <div class="introduction__content-cards">
    <app-tech-card image="assets/tech/angular-overview.png" subtitle="Frontend" title="Angular"></app-tech-card>
    <app-tech-card image="assets/tech/spring-overview.png" subtitle="Backend" title="Spring"></app-tech-card>
    <app-tech-card image="assets/tech/postgresql-overview.png" subtitle="Database" title="PostgreSQL"></app-tech-card>
  </div>
</div>
