<div class="tech-sphere__content">
  <app-tech-sphere texture="/assets/tech/angular.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/javascript.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/typescript.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/html.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/css.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/spring.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/java.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/postgresql.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/github.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/csharp.png"></app-tech-sphere>
  <app-tech-sphere texture="/assets/tech/wpf.png"></app-tech-sphere>
</div>

