<!--<body [ngClass]="theme.isDark ? 'dark-theme' : 'light-theme'" >-->
<body class="dark-theme">
  <section style="display: flex; flex-direction: column;">
    <app-navbar style="position: sticky; top: 0; z-index: 100; height: 64px;" id="navbar"></app-navbar>
    <section style="height: calc(100vh - 64px); width: 100%;">
      <app-hero style="position: absolute; top: 0; width: 100%;" id="hero"></app-hero>
    </section>
    <section class="background primary" id="work" style="padding-top: 5em;" id="about">
      <app-introduction></app-introduction>
      <div style="padding: 3em 0;"></div>
      <app-car></app-car>
      <div style="padding: 3em 0;" id="work"></div>
      <app-work></app-work>
      <div style="padding: 4em 0;"></div>
      <app-tech-sphere-container></app-tech-sphere-container>
      <div style="padding: 6em 0;"></div>
      <app-projects></app-projects>
      <div style="padding: 8em 0;"></div>
    </section>
  </section>

  <section class="background primary" id="contact" style="height: 100vh;">
    <app-stars style="position: absolute; z-index: 1; width: 100%; height: 99%; display: flex;"></app-stars>
    <div style="display: flex; flex-wrap: wrap; position: relative; z-index: 10; height: 100%;">
      <app-contact style="display:flex; align-items: center; flex: 1 50%;"></app-contact>
      <app-planet style="flex: 1 auto; display: flex; justify-content: center;"></app-planet>
    </div>
  </section>
</body>
