@import '@angular/material/theming';

$dark-blue-palette: (
    50: #fcf8ff,
    100: #f7f3ff,
    200: #f0ecff,
    300: #e2def3,
    400: #bfbcd0,
    500: #a09db0,
    600: #777486,
    700: #636072,
    800: #434152,
    900: #22202f,
    A100: #cdd2da,
    A200: #adb4c0,
    A400: #768194,
    A700: #424b5b,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);
