@import '@angular/material/theming';

$light-blue-palette: (
    50: #e0f7fa,
    100: #b2ebf1,
    200: #80dfe9,
    300: #4dd1e0,
    400: #27c7d9,
    500: #00bdd3,
    600: #00c1d6,
    700: #0198a6,
    800: #01848e,
    900: #026163,
    A100: #bbe2ff,
    A200: #8ed1ff,
    A400: #2bafff,
    A700: #007ff1,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);
