@import '@angular/material/theming';

$light-grey-palette: (
    50: #e0f7fa,
    100: #b2ebf1,
    200: #80dfe9,
    300: #82160e,
    400: #27c7d9,
    500: #00bdd3,
    600: #00c1d6,
    700: #0198a6,
    800: #01848e,
    900: #026163,
    A100: #bbe2ff,
    A200: #8ed1ff,
    A400: #2bafff,
    A700: #007ff1,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);
