@use '@angular/material' as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

@import '@angular/material/theming';
@import "./styles.scss";
@import "./dark-blue.scss";
@import "./light-blue.scss";
@import "./light-grey.scss";

$dark-primary: mat.define-palette($dark-blue-palette, 900);
$dark-accent: mat.define-palette($light-blue-palette, 600);
$dark-warn: mat.define-palette(mat.$red-palette);
$dark-success: mat.get-color-from-palette(mat.define-palette(mat.$green-palette));
$dark-info: mat.get-color-from-palette(mat.define-palette(mat.$light-blue-palette));
$dark-warning: mat.get-color-from-palette(mat.define-palette(mat.$amber-palette));

$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
   warn: $dark-warn,
 )
));

@include style-theme($dark-theme, $dark-success, $dark-info, $dark-warning);
@include mat.all-legacy-component-themes($dark-theme);


.light-theme {
  $light-primary: mat.define-palette(mat.$red-palette);
  $light-accent: mat.define-palette($light-grey-palette, 300);
  $light-warn: mat.define-palette(mat.$red-palette, 900);
  $light-success: mat.get-color-from-palette(mat.define-palette(mat.$green-palette));
  $light-info: mat.get-color-from-palette(mat.define-palette(mat.$light-blue-palette));
  $light-warning: mat.get-color-from-palette(mat.define-palette(mat.$amber-palette));

  $light-theme: mat.define-light-theme(
    (
      color: (
        primary: $light-primary,
        accent: $light-accent,
        warn: $light-warn,
      ),
    )
  );

  @include style-theme($light-theme, $light-success, $light-info, $light-warning);
  @include mat.all-legacy-component-themes($light-theme);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$custom-typography: mat.define-legacy-typography-config(
  $font-family: 'Poppins'
);

@include mat.all-legacy-component-typographies($custom-typography);

html, body { height: 100%; }
body { margin: 0; }

* {
  box-sizing: border-box;
}

