mat-card {
  margin: 10px;
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;

  div {
    display: flex;
    justify-content: center;

    img {
      width: 25%;
      height: 25%;
    }
  }

  mat-card-header {
    justify-content: center;
  }

  mat-card-subtitle, mat-card-title {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  mat-card-subtitle {
    font-size: 12px;
    margin: 0;
  }

  mat-card-title {
    font-size: 14px;
  }
}


